---
name: Compile And Lint Flex-Tasks


on:
  repository_dispatch:
    types: [CI-Completed]

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: fmidue/flex-tasks/test-flex-action@main
        with:
          tasks: flex
          config: flex/pkg-config
          settings-gens: flex/settings-gens
